# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 'af9404cff0474aee8739e39a97a26b6c8a51271d3ca13b7bb42031ef7533e1bfd0271938f7bd4efa29ec5f981a525c46e6b05c8f974d26fbe17e327fbcabaf0c'

